html {
  font-family: Helvetica, serif;
  font-size: 17px;
  color: #cf9ebf;
}
.topnav {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.wrapper {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: auto;
  background-color: rgb(20, 16, 20);
}

.topnav {
  background-color: rgb(20, 16, 20);
  overflow: hidden;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  color: #cf9ebf;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #cf9ebf;
  color: black;
}

.home {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding-left: 365px;
  padding-right: 375px;
}

.home div {
  padding: 60px;
}

.home div img {
  border-radius: 3px;
  padding: 5px;
  width: 350px;
  height: auto;
}

.textwow {
  font-family: Helvetica, sans-serif;
  padding-top: 70;
  padding-bottom: 60;
  align-items: center;
}

.section {
  padding-top: 70;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.gallery-row {
  display: flex;
  flex-direction: row;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-row {
  display: flex;
}

.gallery-item img {
  width: 100%;
  display: flex;
}

.gallery-item {
  width: 33%;
}

.gallery-item img {
  max-width: 100%;
}

.gallery-item {
  width: 33%;
}

.gallerywork img {
  max-width: 100%;
}

.gallerywork-item {
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  display: flex;
  justify-content: space-around;
}

.portfolio img {
  border: 2px solid rgb(20, 16, 20);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: auto;
  gap: 50px;
}

.bottomnav {
  background-color: rgb(20, 16, 20);

  overflow: hidden;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bottomnav p {
  float: center;
  color: #cf9ebf;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.bottomnav a {
  text-decoration: none;
  box-sizing: border-box;
  color: #cf9ebf;
  text-align: center;
  padding: 14px 1px;
  font-size: 18px;
}
.bottomnav a:hover {
  color: #632363;
}
